
<nav class="navbar navbar-expand-lg navbar-light flex justify-content-around bg-primary">
    <a class="navbar-brand text-white" href="#">CMD</a>
    <div class="btn">
    <button class="btn btn-success" ><a routerLink="addPatient" class="text-white  text-decoration-none">Patient</a></button>
    <button class="btn btn-success" ><a routerLink="addAppointment" class="text-white text-decoration-none">Add Appointment</a></button>
    <button class="btn btn-success"><a routerLink="doctor" class="text-white text-decoration-none">Doctor</a></button>
    </div>
  </nav>
<!-- <app-add-appointment></app-add-appointment> -->
<router-outlet></router-outlet>